body {
    min-height: 100vh;
    min-width: 1111px;
    display: flex;    
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

/************************/
/*      HEADER (Cyril)  */  
/************************/

header {
    /* background-color: yellow; */
    background-color: #EBECE4;
    display: block;
    width: 100%;
    vertical-align: top;
}

.grey-header-bar {
    background-color: #484545;
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

/* Prevents rows from adding new margins automatically */
.row {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

#main-menu {
    box-shadow: none !important;
}

.flex-menu {
    display: flex;
    justify-content: center;
}

li .btn:hover{
    background-color: lightgreen !important;
}

/************************/
/*      FOOTER (Pascal) */
/************************/

footer {

    height: 70px;
    margin-top: auto;
    display: flex;
    flex: 0 0 auto;
}

.navbar-center {
    display: flex!important;
    float: none;
    margin: 0 auto;
    justify-content: center;
    /*transform: translateX(32%);*/
}

ul li {
    transition: 1s!important;
}
