body {
    min-width: 1111px;
}

header {
    /*    background-color: yellow; */
    background-color: #EBECE4;
    display: block;
    width: 100%;
    vertical-align: top;
}

.grey-header-bar {
    background-color: #484545;
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

/* Prevents rows from adding new margins automatically */
.row {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}

#main-menu {
    box-shadow: none !important;
}

.flex-menu {
    display: flex;
    justify-content: center;
}

li .btn:hover{
    background-color: lightgreen !important;
}
